/*------------------------------------------------TAGs-------------------------------------------------*/

html{
    height: 100%;
    font-size: 16px;
    background-color: #e3e7f3;
}

li{
    padding: 15px;
    list-style: none;
}

main{
    height: 40%;
    width: 100%;
}

ul{
    display: flex;
}

.foto-alisson img{
    width: 100%;
    position: relative;
    z-index: -10;
}

main{
    display: flex;
    align-items: center;
}


/*-----------------------------------------------CLASSES----------------------------------------------------*/
.cabecalho-pagina{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #e4e9ed;
    position: fixed;
    width: 100%;
    border-bottom-style: groove;
}

.descricao{
    width: 100vh;
    position: absolute;
    z-index: 0;
    margin-left: 5%;
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.btn{
    background-image: url("../img/button.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 277px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
    border-style: none;
}

